body {
    background-color: lightseagreen;
    background-image: url('fish2.png');
  }

  div.player {
      color: green;
      font-size: x-small;
      display: none;
  }

  
  .container {
    width: 1340px;
    background-color: red;
}

.container ul {
    padding: 0; 
    margin: 0;
    list-style-type: none;
}
.container ul li {
    width: 600px;
    height: 400px;
    background-color: silver;
    float: left;
    margin: 10px;
    
    
}

.statarea{
    display: inline-block;
    color: purple;
    
    width: 200px;
}

#load {
    display: none;
}

h1 {
    font-size: x-large;
    text-align: center;
    color: white;
}